#qrcode-scanner-react-video {
  border: 1px black solid;
  width: 100%;
}

#qrcode-scanner-react-canvas {
  display: none;
}

#qrcode-scanner-react-div {
  position: relative;
}

#qrcode-scanner-react-p {
  position: absolute;
  bottom: 1em;
  left: 1em;
}